
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
body{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;
}

.topNav{
	box-shadow: .2px .2px .2px .2px #aeaeae;
	position: fixed;
	top: 0%;
	width: 100%;
	height: 70px;
	background-color: #efefef;
}

.bottomNav{
	z-index: 100;
	box-shadow: 3px 3px 3px 3px grey;
	position: fixed;
	top: calc(100% - 120px);
	width: 100%;
	height: 125px;
	background-color: #efefef;
}
.testText{
	font-size: 300px;
}
.bottomNav .bnButton{
	margin: 0;
	cursor: pointer;
	display: flex;
	position: fixed;
	top: calc(100% - 120px);
	width: calc(100% / 3);
	border-width: 0px;
	outline: none;
	height: 125px;
	float: right;
}
#friends{
	left: 0%;
}
#home{
	right: calc(100% / 3);
}
#mail{
	left: calc((100% / 3) * 2);
}
#Image{
	position: relative;
	top: calc(50% - 20px);
	left: calc(50% - 20px);;
	width: 40px;
	height: 40px;
}
.bottomNav .bnButton:active{
	background-color: #FFFFFF;
}

.topNav .searchQuery{
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 15px;
	border-radius:10px;
	border-width: 0;
	background-color: #dedede;
	height: 30px;
	width: 50%;
	outline: none;
}

.topNav .searchQuery::placeholder{
	color: rgb(200,200,200);
}

.topNav .searchQuery:focus{
	background-color: #cdcdcd;
}

.bb{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 30%;
	left: 7%;
}

.bb:active{
	filter:brightness(300%);
}

#friends:active{
	filter:brightness(80%);
}

#home:active{
	filter:brightness(80%);
}

#mail:active{
	filter:brightness(80%);
}

.spinner {
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  width: 100px;
  text-align: center;
}

.spinner > div {
  width: 25px;
  height: 25px;
  background-color: #fc4d94;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.sqContainer{	
	margin-top: 80px;
}

.userBox{
	cursor: pointer;
  	line-height: 50px;
    text-align: center;
	background-color: #efefef;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 13px;
}
.userbox:active{
	background-color: #FFFFFF;
}
.uProfileBox{
	position: fixed;
	top: 0%;
	width: 100%;
	height: 100px;
	background-color: #f1f1f1;
}
.uProfileUsername{
	left: 15%;
	top: 20%;
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 40px;
}
.uProfileName{
	position: absolute;
	left: 15%;
	top: 60%;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #6f6f6f;
}
.uProfileAddFriend{
	cursor: pointer;
	position: absolute;
	top: 100%;
	left: calc(90% - 120px);
	font-weight: 700;
	border: none;
	border-color: #dddddd;
	background-color: #f1f1f1;
	height: 40px;
	width: 120px;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #62d862;
}

.uProfileAddFriend:active{
	background-color: #e1e1e1;
}

.uProfileSendMessage{
	cursor: pointer;
	position: absolute;
	top: 100%;
	left: calc(90% - 120px);
	font-weight: 700;
	border: none;
	border-color: #dddddd;
	background-color: #f1f1f1;
	height: 40px;
	width: 120px;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #fc4d94;;
}

.uProfileSendMessage:active{
	background-color: #e1e1e1;
}

.notBox{
	cursor: pointer;
  	line-height: 50px;
    text-align: center;
	background-color: #efefef;
	width: 100%;
	height: 50px;
	margin-bottom: 60px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 13px;
}

.notBoxL{
	cursor: pointer;
  	line-height: 50px;
    text-align: center;
	background-color: #efefef;
	width: 100%;
	height: 50px;
	margin-bottom: 185px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 13px;
}

.accFriendRequest{
	position: absolute;
	width: 17px;
	height: 17px;
	left: calc(50% - 8.5px);
	top: calc(50% - 8.5px);
}
.dismissNotification{
	position: absolute;
	width: 17px;
	height: 17px;
	left: calc(50% - 8.5px);
	top: calc(50% - 8.5px);
}
.notButton1{
	width: 50%;
	height: 40px;
	position: absolute;
	left: 0%;
	top: calc(50% - 20px);
}
.notButton2{
	width: 50%;
	height: 40px;
	position: absolute;
	left: 50%;
	top: calc(50% - 20px);
}
.notButtons{
	box-shadow: .2px .2px .2px .2px #aeaeae;
	position: absolute;;
	height: 40px;
	width: 100%;
	background-color: #f1f1f1;
}

.notButton1:active{
	background-color: #e1e1e1;
}
.notButton2:active{
	background-color: #e1e1e1;
}

.defaultText#a1{
	position: absolute;
	margin: auto;
	top: 43%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	color: #b2b2b2;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 24px;
}
.defaultText#a2{
	position: absolute;
	margin: auto;
	top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	color: #b2b2b2;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 24px;
}
.friBox{
	margin: 0;
	position: relative;
	background-color: #efefef;
	width: 90%;
	border-radius: 10px;
	height: 70px;
	margin-top: 20px;
}

.friBoxUName{
	position: absolute;
	top: 20%;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 25px;
	margin-left: 10%;
}
.friBoxName{
	position: absolute;
	text-align: left;
	top: 60%;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 12px;
	color: grey;
	margin-left: 10%;
}
.friButton1{
	cursor: pointer;
	color: #62d862;
	background-color: #efefef;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	border: solid;
	border-width: 0px;
	border-left-width: 1px;
	border-color: #e7e7e7;
	outline: none;
	width: 30%;
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	left: 70%;
	top: calc(0%);
}


.friButton1g{
	cursor: pointer;
	color: #62d862;
	background-color: #efefef;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	border: solid;
	border-width: 0px;
	border-left-width: 1px;
	border-color: #e7e7e7;
	outline: none;
	width: 30%;
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	left: 70%;
	top: calc(0%);
}


.friButtons{
}

.friButton1:active{
	background-color: #e1e1e1;
}
.friButton1g:active{
	background-color: #e1e1e1;
}

.friBoxL{
	margin: 0;
	position: relative;
	background-color: #efefef;
	width: 100%;
	height: 70px;
	margin-bottom: 205px;
}

.friBoxButtons{
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	background-color: #e7e7e7;
}

.friBoxButtons2{
	margin-bottom: 155px;
	width: 100%;
	height: 40px;
}

.friBoxButtons2l{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 45%;
	background-color: #e7e7e7;
}

.friCreateGroupButton{
	margin-top: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 10px;
	color: #62d862;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	background-color: #f1f1f1;
	height: 40px;
	width: 120px;
}

.friLogout{
	margin-top: 20px;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 10px;
	color: #fc4d94;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	background-color: #f1f1f1;
	height: 40px;
	width: 120px;
}

.friCreateGroupButton:active{
	background-color: #e1e1e1;
}

.friLogout:active{
	background-color: #e1e1e1;
}

.bbc{
	cursor: pointer;
	background-color: transparent;
	border-radius: 10px;
	z-index: 101;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 25%;
	left: 7%;
}

.bbc:active{
	background-color: #e1e1e1;
}
.uCBA{
	position: absolute;
	top: 14%;
	left: 15%;
}

.userChatTopNav{
	position: fixed;
	z-index: 100;
	box-shadow: .1px .1px .1px .1px grey;
	background-color: #efefef;
	width: 100%;
	height: 70px;
}


.userClickArea{
	cursor: pointer;
	position: fixed;
	z-index: 100;
	box-shadow: .1px .1px .1px .1px grey;
	background-color: #efefef;
	width: 100%;
	height: 70px;
}

.userClickArea:active{
	background-color: #e1e1e1;
}



.userChatUName{
	top: 10%;
	transform: translateY(-50%)
	margin-top: 0px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 30px;
}
.userChatName{
	top: 10%;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: grey;
}

.userChatBottomNav{
	position: fixed;
	z-index: 99;
	box-shadow: 1px 1px 1px 1px grey;
	position: fixed;
	top: calc(100% - 70px);
	width: 100%;
	height: 70px;
	background-color: #efefef;
}

.userChatBottomNav .userChatInput{
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 15px;
	border-radius:10px;
	border-width: 0;
	background-color: #dedede;
	height: 30px;
	width: 50%;
	outline: none;
}

.chatContainer{
	width: 100%;
	position: absolute;
	margin-top: 90px;
	margin-bottom: 70px;
	z-index: 98; 
}
.cboum{
	margin-bottom: 20px;
	left: 0%;
	margin: 0;
	width: 100%;
	overflow: auto;
}

.cbour{
	margin-left: 10%;
	margin-bottom: 10px;
	width: auto;
}

.cbum{
	margin-bottom: 20px;
	left: 0%;
	margin: 0;
	width: 100%;
	overflow: auto;
}

.cbur{
	margin-right: 10%;
	left: 100%;
	margin-bottom: 10px;
	direction: rtl;
	width: auto;
}

.chatBoxOtherUser{
	white-space: normal;
	position: relative;
	border-radius: 5px;
	left: 0%;
	display:inline-block;
	word-wrap: break-word;
	font-family: 'Roboto', sans-serif;
	background-color: #dedede;
	max-width: 60%;
	text-align: left;
	padding: 10px 10px 10px 10px;
}

.chatBoxOtherUser2{
	line-height: 5px;
	position: relative;
	border-radius: 5px;
	left: 0%;
	display:inline-block;
	word-wrap: break-word;
	font-family: 'Roboto', sans-serif;
	background-color: #dedede;
	max-width: 60%;
	text-align: left;
	padding: 10px 10px 10px 10px;
}

#chatBoxAuthor{
	color: #437cff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 700;
}

.chatBoxOUContent{
	line-height: normal;
	margin-top: 0px;
}

.chatBoxOUContent2{
	line-height: 10px;
	margin-top: 0px;
}

.chatBoxUser{
	white-space: normal;
	position: relative;
	border-radius: 5px;
	left: 0%;
	display:inline-block;
	word-wrap: break-word;
	font-family: 'Roboto', sans-serif;
	background-color: #62d862;
	max-width: 60%;
	text-align: left;
	padding: 10px 10px 10px 10px;
}

.typingEvent{
	position: relative;
}

.chatBoxUserTypingText{
	z-index: 103;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 700;
	color: #62d862;
	left : 70%;
	margin-right: 10px;
	float: right;
}

.gcTopNav{
	position: fixed;
	top: 0%;
	z-index: 100;
	box-shadow: .1px .1px .1px .1px grey;
	background-color: #efefef;
	width: 100%;
	height: 70px;
}

.gcTitle{
	top: 20%;
	transform: translateY(-50%)
	margin-top: 0px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 30px;
}

.gcInputDiv{
	z-index: 1;
	position: relative;
	width: 100%;
}

.gcGroupName{
	box-shadow: .2px .2px .1px .1px grey;
	font-weight: 700;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin-bottom: 15px;;
	border-width: 0;
	background-color: #efefef;
	height: 70px;
	width: 100%;
	outline: none;
}

.gcGroupName:focus::-webkit-input-placeholder {
    opacity: 0;
}

.gcGroupName::placeholder{
	color:  #d6d4d4;
}

.gcTitle3{
	background-color: #efefef;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: .2px .2px .1px .1px grey;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 25px;
}

.gcTitle2{
	background-color: #efefef;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: .2px .2px .1px .1px grey;
	text-align: center;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 25px;
	margin-top: 100px;
}

.gcFriendBox{
	width: 100%;
	height: 80px;
	box-shadow: .2px .2px .1px .1px grey;
	background-color:  #efefef;
}

.gcBoxUName{
	margin-left: 10%;
	position: relative;
	top: 25%;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 20px;
	text-align: left;
}

.gcBoxName{
	margin-left: 10%;
	color: grey;
	position: relative;
	top: 25%;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 13px;
	text-align: left;
}

.gcSelector{
	cursor: pointer;
	z-index: 90;
	position: relative;
	background-color: #dedede;
	top: -20%;
	left: 30%;
	width: 40px;
	height: 40px;
	border-radius: 10px;

}

.gcSelector2{
	cursor: pointer;
	z-index: 90;
	position: relative;
	background-color: #62d862;
	top: -20%;
	left: 30%;
	width: 40px;
	height: 40px;
	border-radius: 10px;

}

.gcCreateButton{
	cursor: pointer;
	outline: none;
	color: #62d862;
	background-color: #efefef;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 25px;
	margin-top: 40px;
	width: 100%;
	height: 80px;
	border: none;
}

.gcCreateButton:active{
	filter: brightness(90%);
}

.gIcon{
	position: absolute;
	width: 25px;
	height: 25px;
	left: calc(70% - 30px);
	top: 10%;
}

.friButtons2l{
	position: absolute;
	top: 50%;
}
