@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
body{
	margin: auto 0;
	background-color: #f1f1f1;
}


.loginBox{
	width: 250px;
	height: 100%;
	margin: 0px;
}

.loginBox .title{
	padding-top: calc(50vh - 150px);
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 50px;

}

.loginBox .input{
	padding-left: 5px;
	padding-right: 20px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 15px;
	border-width: 0;
	background-color: transparent;
	height: 50px;
	width: 200px;
	border: solid;
	border-width: 0px;
	border-color: #e7e7e7;
	border-bottom-width: 5px;
	outline: none;
}
.loginBox .input::-webkit-input-placeholder{
	opacity: 100;
	color: #bbbbbb;
}

.loginBox .input::-moz-placeholder{
	opacity: 100;
	color: #bbbbbb;
}
.loginBox .button{
	cursor: pointer;
	font-weight: 700;
	margin-bottom: 15px;
	border-radius:20px;
	border-width: 0;
	background-color:  #e7e7e7;
	height: 50px;
	width: 130px;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #1a1a1a;
}

.loginBox .button:active{
	background-color: #eeeeee
}
.loginBox .input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.loginBox .input:focus::-moz-placeholder  {
    opacity: 0;
}

.errortext{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #ff2a32;
}